<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "MiniBazar", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@animxyz/core@0.4.0/dist/animxyz.min.css">
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://kit.fontawesome.com/eb5361d6b0.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <header>
      <section class="container">

        <nav role="navigation" class="navbar" >
          <h1>Bazar Miniatura</h1>
          <ul>
            <li style="--color: var(--blue-600);" ><a href="#catalog">Catalogo figuras</a></li>
            <li style="--color: var(--green-600);" ><a href="#stock">Existencia</a></li>
          </ul>
        </nav>


      </section>
      <section class="container">

      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
