@import "./phoenix.css";

:root{

  --purple-300: hsl(263, 51%, 75%);
  --purple-400: hsl(263, 51%, 65%);
  --purple-500: hsl(263, 51%, 55%);
  --purple-600: hsl(263, 51%, 45%);
  --purple-700: hsl(263, 51%, 35%);
  
  --yellow-300: hsl(46, 79%, 75%);
  --yellow-400: hsl(46, 79%, 65%);
  --yellow-500: hsl(46, 79%, 55%);
  --yellow-600: hsl(46, 79%, 45%);
  --yellow-700: hsl(46, 79%, 35%);

  --orange-300: hsl(19, 85%, 75%);
  --orange-400: hsl(19, 85%, 65%);
  --orange-500: hsl(19, 85%, 55%);
  --orange-600: hsl(19, 85%, 45%);
  --orange-700: hsl(19, 85%, 35%);

  --red-300: hsl(11, 89%, 65%);
  --red-400: hsl(11, 89%, 55%);
  --red-500: hsl(11, 89%, 45%);
  --red-600: hsl(11, 89%, 35%);
  --red-700: hsl(11, 89%, 25%);
  
  --green-300: hsl(129, 38%, 70%);
  --green-400: hsl(129, 38%, 60%);
  --green-500: hsl(129, 38%, 50%);
  --green-600: hsl(129, 38%, 40%);
  --green-700: hsl(129, 38%, 30%);
  
  --blue-700: hsl(197, 68%, 70%);
  --blue-600: hsl(197, 68%, 60%);
  --blue-500: hsl(197, 68%, 50%);
  --blue-400: hsl(197, 68%, 40%);
  --blue-300: hsl(197, 68%, 30%);
  
  --white: #fff;

  --color: var(--blue-500);

  --primary-text: var(--blue-500);
  --primary-hover: var(--blue-300);
  --primary-bg: var(--blue-600);



}

button{
  font-weight: bold;
  background-color: var(--color);
  --primary-text: var(--white);
}
button i{
  --primary-icon: var(--red-500);
  color: var(--primary-icon);
}
input::placeholder{
  color: var(--color);
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

section + section{
  margin-top: 2em;
}
/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: var(--red-600);
  display: block;
  margin: -1rem 0 2rem;
}
.navbar {
  flex-grow: 1;
  
}
.navbar ul{
  display: flex;
  justify-items: flex-end;
}
.navbar ul li{
  padding: 2ch 6ch;
  border-bottom: 2px solid var(--color);
}
.navbar ul li:hover{
  --color: var(--red-500);
  background-color: var(--color);
  color: white;
}
.navbar a{
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--color);
}
.navbar li:hover a{
  color: white;
}

.miniatures_section{
  overflow-x: hidden;
}

.carousel{
  background-color: #424242;
}
.carousel figure{
  
  position: relative;
  width: 500%;
  left: 0;
  animation: 20s slider infinite;
  
  display: flex;
  flex-direction: row;
}

.afiliates{
  display: flex;
  padding: 2ch 0;
}
.afiliates a{
  padding: 2ch;
  text-align: center;
  flex-grow: 1;
}
.afiliates a:hover{
  background-color: #eee;
}
@keyframes slider {
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  90%{
    left: -300%;
  }
  100%{
    left: -400%;
  }
}

.miniature {
  padding: 1ch;
  flex-grow: 1; }

.footer-social ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.footer-social{
  --color: #333;
}
.footer-social a{
  display: flex;
  flex-direction: row;
  justify-items: center;
  font-size: .8em;
}
i:first-child{
  font-size: 1.4em;
  padding: .1em .3em;
  color: var(--color)
}

.callout{
  --color: #111;
  font-size: 18px;
  padding: 3ch 2ch;
  color: #333;
  
  background-color: #fbfbfb;
}

.callout span{
  font-weight: bold;
  color: var(--color);
}

.articles_section{
  display: flex;
  flex-wrap: wrap;
}
.articles_section article{
  padding: 2ch 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  min-width: 40rem;
  flex-basis: calc(calc(40rem - 100% ) * 9999 );
  flex-grow: 1;
}
article button{
  margin-left: 2ch
}
.articles_section h3{
  padding: 0 2ch;
}